In [ ]:
import pandas as pd
import numpy as np
import sys

In [3]:
df1 = pd.read_csv("/Users/61310joy/Default_Predict/Data/raw/merged_loans_part_3.csv")

/var/folders/qw/h2s12w2524z6vtfqym33s89m0000gn/T/ipykernel_60214/1255541653.py:1: DtypeWarning: Columns (34,37,38,54,55,59,60) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv("/Users/61310joy/Default_Predict/Data/raw/merged_loans_part_3.csv")

In [4]:
df1.head()

,Unnamed: 0,Credit Score,First Payment Date,First Time Homebuyer Flag,Maturity Date,Metropolitan Statistical Area (MSA) Or Metropolitan Division,Mortgage Insurance Percentage (MI %),Number of Units,Occupancy Status,Original Combined Loan-to-Value (CLTV),...,Modification Cost,Step Modification Flag,Deferred Payment Plan,Estimated Loan-to-Value (ELTV),Zero Balance Removal UPB,Delinquent Accrued Interest,Delinquency Due to Disaster,Borrower Assistance Status Code,Current Month Modification Cost,Interest Bearing UPB
0,F21Q30383329,739,2021-10-01,N,2036-09-01,NaN,0,1,P,63,...,NaN,NaN,NaN,38,NaN,NaN,NaN,NaN,NaN,93595.50
1,F21Q30383330,712,2021-10-01,N,2036-09-01,24300.0,0,1,P,41,...,NaN,NaN,NaN,27,NaN,NaN,NaN,NaN,NaN,117346.65
2,F21Q30383331,697,2021-10-01,N,2036-09-01,12060.0,0,1,P,64,...,NaN,NaN,NaN,37,NaN,NaN,NaN,NaN,NaN,207054.23
3,F21Q30383332,667,2021-10-01,N,2036-09-01,33874.0,0,1,P,55,...,NaN,NaN,NaN,29,NaN,NaN,NaN,NaN,NaN,61525.27
4,F21Q30383333,698,2021-10-01,N,2051-09-01,45780.0,0,1,P,67,...,NaN,NaN,NaN,48,NaN,NaN,NaN,NaN,NaN,100177.64

In [ ]:
df1 = df1.rename(columns={
    "Unnamed: 0": "Loan Sequence Number", 
})

NameError: name 'jikaf' is not defined