## Use Logistic Model for Default Prediction

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix, roc_auc_score

In [2]:
df = pd.read_csv("/Users/61310joy/Default_Predict/Data/encoded_features.csv")
df.head()

/var/folders/qw/h2s12w2524z6vtfqym33s89m0000gn/T/ipykernel_1618/2997916986.py:1: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/Users/61310joy/Default_Predict/Data/encoded_features.csv")

,Loan Sequence Number,Credit Score,Original Loan-to-Value (LTV),Original Combined Loan-to-Value (CLTV),Original Debt-to-Income (DTI) Ratio,Original Interest Rate,Original UPB,Current Actual UPB,Loan Age,Remaining Months to Legal Maturity,...,Property State_TN,Property State_TX,Property State_UT,Property State_VA,Property State_VI,Property State_VT,Property State_WA,Property State_WI,Property State_WV,Property State_WY
0,F20Q10000001,661,36,36,19,2.875,66000,40665.26,58,122,...,False,False,False,False,False,False,False,False,False,False
1,F20Q10000002,681,95,95,13,5.750,52000,46807.70,61,299,...,False,False,False,False,False,False,False,False,False,False
2,F20Q10000003,775,87,87,29,3.250,248000,0.00,24,336,...,False,False,False,False,False,False,False,False,False,False
3,F20Q10000004,770,65,65,14,3.625,125000,89979.70,61,119,...,False,False,False,False,False,False,False,False,False,False
4,F20Q10000005,791,80,80,33,3.875,58000,47698.13,60,300,...,False,False,False,False,False,False,False,False,False,False

In [12]:
df.columns

Index(['Loan Sequence Number', 'Credit Score', 'Original Loan-to-Value (LTV)',
       'Original Combined Loan-to-Value (CLTV)',
       'Original Debt-to-Income (DTI) Ratio', 'Original Interest Rate',
       'Original UPB', 'Current Actual UPB', 'Loan Age',
       'Remaining Months to Legal Maturity', 'Estimated Loan-to-Value (ELTV)',
       'Current Loan Delinquency Status', 'Number of Borrowers',
       'Property State', 'Current Deferred UPB', 'Current Interest Rate',
       'Occupancy Status', 'Original Loan Term', 'First Payment Date',
       'Default', 'Default.1', 'Occupancy Status_I', 'Occupancy Status_S',
       'Default.2', 'Property State_AL', 'Property State_AR',
       'Property State_AZ', 'Property State_CA', 'Property State_CO',
       'Property State_CT', 'Property State_DC', 'Property State_DE',
       'Property State_FL', 'Property State_GA', 'Property State_GU',
       'Property State_HI', 'Property State_IA', 'Property State_ID',
       'Property State_IL', 'Property State_IN', 'Property State_KS',
       'Property State_KY', 'Property State_LA', 'Property State_MA',
       'Property State_MD', 'Property State_ME', 'Property State_MI',
       'Property State_MN', 'Property State_MO', 'Property State_MS',
       'Property State_MT', 'Property State_NC', 'Property State_ND',
       'Property State_NE', 'Property State_NH', 'Property State_NJ',
       'Property State_NM', 'Property State_NV', 'Property State_NY',
       'Property State_OH', 'Property State_OK', 'Property State_OR',
       'Property State_PA', 'Property State_PR', 'Property State_RI',
       'Property State_SC', 'Property State_SD', 'Property State_TN',
       'Property State_TX', 'Property State_UT', 'Property State_VA',
       'Property State_VI', 'Property State_VT', 'Property State_WA',
       'Property State_WI', 'Property State_WV', 'Property State_WY'],
      dtype='object')

### Scailing

In [3]:
## Scaling 
scale_cols = [
    'Credit Score', 
    'Original Loan-to-Value (LTV)', 
    'Original Combined Loan-to-Value (CLTV)',
    'Original Debt-to-Income (DTI) Ratio', 
    'Original Interest Rate', 
    'Current Interest Rate', 
    'Original UPB', 
    'Current Actual UPB',
    'Loan Age', 
    'Remaining Months to Legal Maturity', 
    'Estimated Loan-to-Value (ELTV)', 
    'Original Loan Term'
]

scaler = StandardScaler()
df_scaled = df.copy()
df_scaled[scale_cols] = scaler.fit_transform(df_scaled[scale_cols])
df_scaled[scale_cols].describe().T

,count,mean,std,min,25%,50%,75%,max
Credit Score,11569815.0,6.842151e-16,1.0,-10.200454,-0.671854,0.206670,0.814878,2.188979
Original Loan-to-Value (LTV),11569815.0,-3.773245e-16,1.0,-3.895505,-0.618986,0.214028,0.547233,9.210572
Original Combined Loan-to-Value (CLTV),11569815.0,6.540291e-17,1.0,-3.898482,-0.628817,0.202453,0.590380,51.408723
Original Debt-to-Income (DTI) Ratio,11569815.0,-7.043391e-17,1.0,-2.692536,-0.542291,0.094819,0.652289,76.786881
Original Interest Rate,11569815.0,2.012397e-16,1.0,-1.548808,-0.657170,-0.413996,0.396585,3.801022
Current Interest Rate,11569815.0,-3.219836e-16,1.0,-1.548739,-0.657083,-0.413904,0.396692,3.801196
Original UPB,11569815.0,5.534093e-17,1.0,-1.859910,-0.755268,-0.186797,0.569010,12.371237
Current Actual UPB,11569815.0,2.012397e-17,1.0,-1.265035,-0.733441,-0.102447,0.592579,11.600243
Loan Age,11569815.0,8.049589e-17,1.0,-2.079137,-0.889711,0.299715,0.834957,1.608084
Remaining Months to Legal Maturity,11569815.0,3.219836e-16,1.0,-3.621094,0.173702,0.338098,0.612090,2.639635
Estimated Loan-to-Value (ELTV),11569815.0,0.000000e+00,1.0,-0.649328,-0.543299,-0.501922,-0.429512,1.931567
Original Loan Term,11569815.0,2.716736e-16,1.0,-3.541182,0.499323,0.499323,0.499323,2.783087

### Feature Selection

### Calculate p-value IV valuse and VIF to determine what features should be included in the model

#### Check VIF(Multicollinearity)

In [6]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [16]:
X = df_scaled[[
    'Credit Score', 'Original Loan-to-Value (LTV)',
    'Original Combined Loan-to-Value (CLTV)',
    'Original Debt-to-Income (DTI) Ratio',
    'Original Interest Rate', 'Original UPB','Current Actual UPB',
    'Loan Age', 'Remaining Months to Legal Maturity',
    'Estimated Loan-to-Value (ELTV)', 'Number of Borrowers',
    'Current Interest Rate', 'Original Loan Term', 'Current Deferred UPB'
]]

#Count VIF 
vif_data = pd.DataFrame()
vif_data["Features"] = X.columns
vif_data["VIF"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
print(vif_data)

                                  Features           VIF
0                             Credit Score      1.054651
1             Original Loan-to-Value (LTV)     70.880287
2   Original Combined Loan-to-Value (CLTV)     70.937752
3      Original Debt-to-Income (DTI) Ratio      1.053382
4                   Original Interest Rate  14313.212985
5                             Original UPB      3.250396
6                       Current Actual UPB      4.526871
7                                 Loan Age      8.825785
8       Remaining Months to Legal Maturity     94.729700
9           Estimated Loan-to-Value (ELTV)      2.244216
10                     Number of Borrowers      1.007141
11                   Current Interest Rate  14317.811700
12                      Original Loan Term     84.266223
13                    Current Deferred UPB      1.031076

From VIF, drop `Original Loan-to-Value (LTV)`, `Original Combined Loan-to-Value (CLTV)`, `Original Interest Rate`, `Remaining Months to Legal Maturity`, `Original Loan Term`

In [10]:
df_selected = df_scaled.copy()

drop_list = [
    'Loan Sequence Number',
    'Original Loan-to-Value (LTV)',
    'Original Combined Loan-to-Value (CLTV)',
    'Original Interest Rate',
    'Remaining Months to Legal Maturity',
    'Original Loan Term'
]

df_final = df_selected.drop(columns=drop_list, errors='ignore')
df_final.head()

,Credit Score,Original Debt-to-Income (DTI) Ratio,Original UPB,Current Actual UPB,Loan Age,Estimated Loan-to-Value (ELTV),Current Loan Delinquency Status,Number of Borrowers,Property State,Current Deferred UPB,...,Property State_TN,Property State_TX,Property State_UT,Property State_VA,Property State_VI,Property State_VT,Property State_WA,Property State_WI,Property State_WV,Property State_WY
0,-2.068481,-1.259039,-1.491696,-1.026206,1.370199,-0.615709,0,2,MD,0.0,...,False,False,False,False,False,False,False,False,False,False
1,-1.617956,-1.736871,-1.582135,-0.990131,1.548612,-0.563987,0,1,KS,0.0,...,False,False,False,False,False,False,False,False,False,False
2,0.499511,-0.462652,-0.315995,-1.265035,-0.651826,1.931567,0,2,CO,0.0,...,False,False,False,False,False,False,False,False,False,False
3,0.386880,-1.657233,-1.110562,-0.736581,1.548612,1.931567,0,1,MO,0.0,...,False,False,False,False,False,False,False,False,False,False
4,0.859931,-0.144097,-1.543375,-0.984902,1.489141,-0.600192,0,1,NY,0.0,...,False,False,False,False,False,False,False,False,False,False

In [23]:
df_final.columns

Index(['Credit Score', 'Original Debt-to-Income (DTI) Ratio', 'Original UPB',
       'Current Actual UPB', 'Loan Age', 'Estimated Loan-to-Value (ELTV)',
       'Current Loan Delinquency Status', 'Number of Borrowers',
       'Property State', 'Current Deferred UPB', 'Current Interest Rate',
       'Occupancy Status', 'First Payment Date', 'Default', 'Default.1',
       'Occupancy Status_I', 'Occupancy Status_S', 'Default.2',
       'Property State_AL', 'Property State_AR', 'Property State_AZ',
       'Property State_CA', 'Property State_CO', 'Property State_CT',
       'Property State_DC', 'Property State_DE', 'Property State_FL',
       'Property State_GA', 'Property State_GU', 'Property State_HI',
       'Property State_IA', 'Property State_ID', 'Property State_IL',
       'Property State_IN', 'Property State_KS', 'Property State_KY',
       'Property State_LA', 'Property State_MA', 'Property State_MD',
       'Property State_ME', 'Property State_MI', 'Property State_MN',
       'Property State_MO', 'Property State_MS', 'Property State_MT',
       'Property State_NC', 'Property State_ND', 'Property State_NE',
       'Property State_NH', 'Property State_NJ', 'Property State_NM',
       'Property State_NV', 'Property State_NY', 'Property State_OH',
       'Property State_OK', 'Property State_OR', 'Property State_PA',
       'Property State_PR', 'Property State_RI', 'Property State_SC',
       'Property State_SD', 'Property State_TN', 'Property State_TX',
       'Property State_UT', 'Property State_VA', 'Property State_VI',
       'Property State_VT', 'Property State_WA', 'Property State_WI',
       'Property State_WV', 'Property State_WY'],
      dtype='object')

In [20]:
y = df_final['Default'].astype(int)
X = df_final.drop(columns=['Default','Default.1', 'Default.2', 'Occupancy Status', 
                              'Property State', 'First Payment Date', 'Current Loan Delinquency Status'], errors='ignore')

In [11]:
df_final['Default'].value_counts()

Default
0    11524257
1       45558
Name: count, dtype: int64

The data is very inbalanced

In [24]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.25, random_state=42, stratify=y
)

## Before Running the Model, deal with inbalance

Oversampling(Smote) + Undersampling(ENN or Tomek Links)

In [36]:
from imblearn.combine import SMOTEENN, SMOTETomek

In [37]:
def evaluate_model(name, y_true, y_proba, threshold=None):
    # Choose threshold by Youden's J if not provided
    fpr, tpr, thr = roc_curve(y_true, y_proba)
    if threshold is None:
        threshold = thr[np.argmax(tpr - fpr)]
    y_pred = (y_proba >= threshold).astype(int)

    auc = roc_auc_score(y_true, y_proba)
    ks = np.max(tpr - fpr)
    pr_auc = average_precision_score(y_true, y_proba)

    print(f"\n=== {name} ===")
    print(f"AUC     : {auc:.4f}")
    print(f"KS      : {ks:.4f}")
    print(f"PR-AUC  : {pr_auc:.4f}")
    print(f"Thr     : {threshold:.4f}")
    print("Confusion Matrix:\n", confusion_matrix(y_true, y_pred))
    print("Classification Report:\n", classification_report(y_true, y_pred, digits=4))

    return {"AUC": auc, "KS": ks, "PR_AUC": pr_auc, "thr": threshold}

In [ ]:
# SMOTE with ENN 
smote_enn = SMOTEENN(
    sampling_strategy=0.2,   # after resampling, minority ≈ 20% of the TRAIN set
    random_state=42,
    n_jobs=-1
)
X_train_se, y_train_se = smote_enn.fit_resample(X_train, y_train)

# Train logistic regression on resampled training set
clf_se = LogisticRegression(max_iter=2000, solver="lbfgs", n_jobs=-1)
clf_se.fit(X_train_se, y_train_se)

proba_se = clf_se.predict_proba(X_test)[:, 1]
metrics_se = evaluate_model("LogReg (SMOTE+ENN)", y_test, proba_se)

In [ ]:
# SMOTE + Tomek Links
smote_tl = SMOTETomek(
    sampling_strategy=0.2,   # same target minority ratio for fair comparison
    random_state=42,
    n_jobs=-1
)
X_train_st, y_train_st = smote_tl.fit_resample(X_train, y_train)

clf_st = LogisticRegression(max_iter=2000, solver="lbfgs", n_jobs=-1)
clf_st.fit(X_train_st, y_train_st)

proba_st = clf_st.predict_proba(X_test)[:, 1]
metrics_st = evaluate_model("LogReg (SMOTE+Tomek)", y_test, proba_st)

In [ ]:
summary = {"SMOTE+ENN": metrics_se, "SMOTE+Tomek": metrics_st, "Balanced": metrics_bal}
print("\n=== Summary (AUC / KS / PR-AUC / Thr) ===")
for k, v in summary.items():
    print(k, "->", v)